
.card.light{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card.dark{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.752);
}

.card.dark:hover {
    box-shadow: 0px 0px 10200px  rgb(252, 251, 251);
}
.card.light:hover {
    box-shadow: 0px 0px 10200px  rgba(0, 0, 0, 0.433);
}
.card img{
    height: 150px;
    width: 150px;
    object-fit: contain;
}
.card p{
    text-align: center;
}
